html,
body {
  margin: 0;
  padding: 0;
}
.bac_img {
  background: url(../assets/background.jpg) no-repeat;
  background-size: 100% 100%;
  margin: auto;
}
.bac1_img {
  background: url(../assets/background1.jpg) no-repeat;
  background-size: 100% 100%;
  margin: auto;
}
.bac2_img {
  background: url(../assets/background2.jpg) no-repeat;
  background-size: 100% 100%;
  margin: auto;
}
.bac3_img {
  background: url(../assets/background3.jpg) no-repeat;
  background-size: 100% 100%;
  margin: auto;
}
.button {
  width: 100% !important;
  height: 400px !important;
  font-size: 60px !important;
  opacity: 0.7 !important;
  border: 2px solid !important;
  border-radius: 25px !important;
}
.message_box {
  width: 50%;
  margin: auto;
}
.button_margin {
  text-align: center;
}
.find_1{
    width: 50%;
    margin: auto;
}
.login-form-button{
    width: 100%;
}
.left{
  display:inline-block;
  width:20%;
  float:left;
  margin-top:0px;
  margin-right:70px;
}
.red{
    color:#ffffff !important;
}
