<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fe.atom.mapper.RecentMapper">
    <select id="getAllRecentByUser" resultType="Map" >
    select * from (select blog_id, atom_blog.user_id,  blog_name, blog_text, blog_type, prvite, show_date,1 from atom_blog left join atom_chatbox on atom_blog.id = atom_chatbox.id
    union
    select target_id, atom_chatbox.user_id as chatbox_user_id,atom_chatbox.id, chatbox_text,chatbox_type,chatbox_type,chatbox_date,2 from atom_blog right join atom_chatbox on atom_blog.id = atom_chatbox.id) t
     where t.user_id = (#{map.key})
		order by show_date desc
</select>
</mapper>